body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;

  background: linear-gradient(to bottom, #000000, #1a001a);

  overflow: hidden;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(15px);

  padding: 20px;

  border-radius: 25px;

  text-align: center;

  width: 90%;
  max-width: 350px;

  box-shadow: 0 0 25px rgba(255,255,255,0.1);

  z-index: 2;
}

.reel-container {
  width: 320px;
  height: 570px;

  margin: auto;

  border-radius: 25px;

  overflow: hidden;

  background: black;

  box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.reel-video {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  background: #ff4d6d;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #e63950;
}

.countdown-box {
  font-size: 60px;
  font-weight: bold;
  margin: 20px 0;
  color: #ff1a4d;
}

.birthday-box {
  font-size: 28px;
  font-weight: bold;
  background: #fff0f5;
  padding: 20px;
  border-radius: 15px;
  margin-top: 15px;
  color: #ff0055;
}

.reel-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.message-box {

  width: 320px;
  height: 570px;

  margin: auto;

  padding: 20px;

  background: rgba(255,255,255,0.1);

  backdrop-filter: blur(12px);

  border-radius: 25px;

  overflow-y: auto;

  text-align: left;

  font-size: 20px;

  line-height: 1.8;

  color: white;

  box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

.hidden {
  display: none;
}

.hint {
  font-size: 12px;
  margin-top: 10px;
  color: gray;
}

/* HEART BUBBLES */
.hearts span {
  position: absolute;
  bottom: -50px;
  width: 20px;
  height: 20px;
  background: red;
  transform: rotate(45deg);
  animation: floatUp 6s linear infinite;
  opacity: 0.7;
}

.hearts span::before,
.hearts span::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.hearts span::before {
  top: -10px;
  left: 0;
}

.hearts span::after {
  left: -10px;
  top: 0;
}

@keyframes floatUp {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) rotate(45deg);
    opacity: 0;
  }
}
.message-box p {

  animation: fadeUp 1s ease;

}

@keyframes fadeUp {

  from {

    opacity: 0;

    transform: translateY(15px);

  }

  to {

    opacity: 1;

    transform: translateY(0);

  }
}
